.form-wrapper {
  min-height: $view-height;
  overflow-y: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .form-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }
  .form-buttons-wrapper {
    margin-top: 32px;
  }
}
