@mixin input($border-color, $bg-color, $color, $placeholder-color) {
  display: block;
  height: 36px;
  padding: 6px 12px;
  background-color: $bg-color;
  color: $color;
  border: 2px solid $border-color;
  line-height: 20px;
  &::placeholder {
    color: $placeholder-color
  }
  &[disabled] {
    color: $placeholder-color;
  }
}

.input-primary {
  @include input($neutral-secondary, rgba(white, 0.4), $neutral-dark, rgba(black, 0.6));
  &[disabled] {
    background-color: $neutral-secondary;
  }
}
// this is meant to be used only on blue backgrounds
.input-secondary {
  @include input($theme-secondary, rgba($neutral-dark, 0.5), rgba(white, 0.6), rgba(white, 0.18));
  &[disabled] {
    background-color: rgba($neutral-dark, 0.5);
  }
}

// input with a label
.input-wrapper {
  display: flex;
  flex-wrap: wrap;
  input {
    display: inline-block;
    flex-grow: 1;
    max-width: 100%;
  }
  textarea {
    width: 100%;
    height: 100%;
    min-height: 120px;
  }
  label {
    display: block;
    width: 100%;
    margin-bottom: 8px;
  }
  &[disabled] label {
    opacity: 0.5;
  }
  .input-unit {
    flex-basis: 48px;
    margin-left: 12px;
    line-height: 36px;
  }
  .input-dropdown {
    flex-basis: 120px;
    margin-left: 12px;
  }
}

.input-wrapper, input {
  & + & {
    margin-top: 24px;
  }
}