.list-header-wrapper {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  .list-header {
    margin-right: auto;
  }
  .btn-secondary {
    margin-left: 30px;
  }
}

/*
  set max-width individually if it needs to be different, but remember it has to be limited,
  otherwise the infinite scroll won't work.
  example usage in parent component:
  trq-materials-list-view /deep/ .list-wrapper {
    max-height: calc(#{$view-height} - 120px);
  }
*/
.list-wrapper {
  max-height: calc(#{$view-height} - 112px);
  overflow-y: auto;
  margin-right: -$body-padding-right;
  padding-right: $body-padding-right;
  padding-bottom: 32px;
}
