<form class="setup-step" (submit)="submit()">
  <ng-container *ngIf="isStep(setupSteps.material)">
    <header class="setup-header">
      <h3 class="setup-current-step">Scan Setup: {{ getCurrentStepInfo() }}</h3>
      <div class="list-header-wrapper">
        <h2 class="list-header">Select Material</h2>
        <trq-input-search [(query)]="query"></trq-input-search>
        <a [routerLink]="['/new-material']" class="btn-secondary">Add Material</a>
      </div>
    </header>
    <trq-materials-list-view [(selectedMaterialId)]="setup.materialId" [query]="query"></trq-materials-list-view>
    <footer class="setup-section-footer">
      <button class="btn-primary" type="submit" [disabled]="!canChangeStep()">Next</button>
    </footer>
  </ng-container>

  <ng-container *ngIf="isStep(setupSteps.detectionDepth)">
    <div class="setup-section form-wrapper col col-2 col-offset-1">
      <header class="setup-header">
        <h3 class="setup-current-step">Scan Setup: {{ getCurrentStepInfo() }}</h3>
        <h2 class="setup-section-header">Define Detection Depth</h2>
      </header>
      <p class="setup-section-fields input-wrapper"><input class="input-primary setup-input" type="number" min=0 [(ngModel)]="setup.detectionDepth" name="detectionDepth"
        /> µm</p>
      <footer class="setup-section-footer">
        <button class="btn-primary" type="submit" [disabled]="!canChangeStep()">Next</button>
      </footer>
    </div>
  </ng-container>

  <ng-container *ngIf="isStep(setupSteps.frequency)">
    <div class="setup-section form-wrapper col col-2 col-offset-1">
      <header class="setup-header">
        <h3 class="setup-current-step">Scan Setup: {{ getCurrentStepInfo() }}</h3>
        <h2 class="setup-section-header">Confirm Frequency</h2>
      </header>
      <p class="setup-section-fields input-wrapper">
        <input class="input-primary setup-input" type="number" min=0 [(ngModel)]="setup.frequency" name="frequency" [disabled]="!isInEditMode()"
        />

        <span class="input-dropdown">
          <trq-frequency-dropdown [frequencyMultiplier]="frequencyMultiplier" (frequencyMultiplierChange)="frequencyMultiplierChange($event)" [disabled]="!isInEditMode()"></trq-frequency-dropdown>
        </span>
      </p>
      <footer class="setup-section-footer">
        <button class="btn-primary" type="submit" [disabled]="!canChangeStep()">
          <ng-container *ngIf="!isInEditMode()">
            Confirm
          </ng-container>
          <ng-container *ngIf="isInEditMode()">
            Next
          </ng-container>
        </button>
        <button *ngIf="!isInEditMode()" class="btn-secondary" type="button" (click)="editModeOn()">Edit</button>
      </footer>
    </div>
  </ng-container>

  <ng-container *ngIf="isStep(setupSteps.partNumber)">
    <div class="setup-section form-wrapper col col-2 col-offset-1">
      <header class="setup-header">
        <h3 class="setup-current-step">Scan Setup: {{ getCurrentStepInfo() }}</h3>
        <h2 class="setup-section-header">Part Number</h2>
      </header>
      <p class="setup-section-fields input-wrapper"><input class="input-primary setup-input" type="text" [(ngModel)]="setup.partNumber" name="partNumber" /></p>
      <footer class="setup-section-footer">
        <button class="btn-primary" type="submit" [disabled]="!canChangeStep()">Next</button>
      </footer>
    </div>
  </ng-container>

  <ng-container *ngIf="isStep(setupSteps.description)">
    <div class="setup-section form-wrapper col col-2 col-offset-1">
      <header class="setup-header">
        <h3 class="setup-current-step">Scan Setup: {{ getCurrentStepInfo() }}</h3>
        <h2 class="setup-section-header">Description</h2>
      </header>
      <p class="setup-section-fields input-wrapper">
        <textarea class="input-primary setup-input" [(ngModel)]="setup.description" name="description"></textarea>
      </p>
      <footer class="setup-section-footer">
        <button class="btn-primary" type="submit" [disabled]="!canChangeStep()">Next</button>
      </footer>
    </div>
  </ng-container>
</form>