.input-wrapper, .additional-info-wrapper {
  position: relative;
  .btn-danger {
    position: absolute;
    left: calc(100% + 20px);
    bottom: 8px;
  }
}
.additional-info-wrapper {
  display: flex;
  margin-top: 24px;
  .input-wrapper + .input-wrapper {
    margin-top: 0;
    margin-left: 20px;
  }
  .input-wrapper:first-of-type {
    width: 156px;
  }
  .input-wrapper:last-of-type {
    margin-left: 20px;
    flex-grow: 1;
  }
}