<div class="form-wrapper">
  <div class="col col-2 col-offset-1">
    <div class="form-header">
      <h2>Edit Scan</h2>
      <button class="btn-secondary" (click)="deleteScan()">Delete Scan</button>
    </div>
    
    <form class="scan-form" #scanForm="ngForm" (ngSubmit)="saveScan()">
      <div class="input-wrapper">
        <label for="partNumber">Part number</label>
        <input type="text" class="input-primary" id="partNumber" required maxlength="256" [(ngModel)]="scan.partNumber" name="partNumber"
          #partNumber="ngModel">
      </div>
  
      <div class="input-wrapper">
        <label for="description">Description</label>
        <textarea type="text" class="input-primary" id="description" required maxlength="1000" [(ngModel)]="scan.description"
          name="description" #description="ngModel"></textarea>
      </div>
      
      <div class="input-wrapper" *ngIf="manufacturerVisible">
        <label for="manufacturer">Manufacturer</label>
        <input type="text" class="input-primary" id="manufacturer" maxlength="256" [(ngModel)]="scan.manufacturer"
        name="manufacturer" #permeability="ngModel">
        <button class="btn-danger" type="button" (click)="deleteManufacturer()">Delete</button>
      </div>
      <div class="form-buttons-wrapper" *ngIf="!manufacturerVisible">
        <button class="btn-secondary" type="button" (click)="addManufacturer()">Add Manufacturer</button>
      </div>
  
      <div class="additional-info-wrapper" *ngFor="let additionalInfo of additionalInfoArrays; let i = index">
        <div class="input-wrapper">
          <label for="asdas">Label</label>
          <input
            type="text"
            class="input-primary"
            id="asdas"
            maxlength="256"
            [ngModel]="additionalInfo[0]"
            (ngModelChange)="changeAdditionalInfo($event, additionalInfo, 0)"
            [name]="'additionalInfoLabel' + i"
            [attr.name]="'additionalInfoLabel' + i"
            >
        </div>
        <div class="input-wrapper">
          <label for="asdsadsadsa">Value</label>
          <input
            type="text"
            class="input-primary"
            id="asdsadsadsa"
            maxlength="256"
            [ngModel]="additionalInfo[1]"
            (ngModelChange)="changeAdditionalInfo($event, additionalInfo, 1)"
            [name]="'additionalInfoValue' + i"
            [attr.name]="'additionalInfoValue' + i"
          >
        </div>
        <button class="btn-danger" type="button" (click)="deleteAdditionalInfoByIndex(index)">Delete</button>
      </div>  
      <div class="form-buttons-wrapper">
        <button class="btn-secondary" type="button" (click)="addAdditionalInfo()" [disabled]="!isAdditionalInfoValid()">Add Additional Info</button>
      </div>

      <div class="form-buttons-wrapper">
        <button class="btn-primary" type="submit" [disabled]="!scanForm.form.valid || !isAdditionalInfoValid()">Save</button>
      </div>
    </form>
  </div>
</div>