<div class="form-wrapper col col-2 col-offset-1">
  <h2 class="form-header">Add Material</h2>
  <trq-material-edit-view [material]="material" (saveMaterial)="saveMaterial($event)"></trq-material-edit-view>
</div>