<nav [class.open]="open">
  <i class="nav-icon ms-Icon ms-Icon--GlobalNavButton" aria-hidden="true" (click)="toggleOpen()"></i>
  <img class="nav-logo" src="/assets/images/eddysense-logo-white.svg">

  <a *ngIf="getCurrentState() === 'connected'" [routerLink]="['/scan-setup', 0]">
    <div class="scanner-wrapper" ngClass="state">
      <div class="scanner-info" [class.ms-fadeIn400]="!open">
        <div class="scanner-name">{{ getScannerName() }}</div>
        <div class="scanner-battery">
          <i class="ms-Icon ms-Icon--Battery{{ getScannerBatteryClassName() }}" aria-hidden="true"></i>
          <span>{{ getScannerBatteryLevel() | percent:'0.0-0' }}</span>
        </div>
      </div>
      <div class="nav-link scanner-action">
        <i class="nav-icon scanner-icon"></i>
        <span class="nav-link-name">Scan</span>
      </div>
    </div>
  </a>

  <a *ngIf="getCurrentState() === 'disconnected'" [routerLink]="['/connection']">
    <div class="scanner-wrapper" ngClass="{{ getCurrentState() }}">
      <div class="scanner-info" [class.ms-fadeIn400]="!open">
        <div class="scanner-name">Scanner Disconnected</div>
      </div>
      <div class="nav-link scanner-action">
        <i class="nav-icon scanner-icon"></i>
        <span class="nav-link-name">Connect</span>
      </div>
    </div>
  </a>

  <a class="nav-link" [routerLink]="['/scan-history']">
    <i class="nav-icon ms-Icon ms-Icon--History" aria-hidden="true"></i>
    <span class="nav-link-name">History</span>
  </a>
  <a class="nav-link" [routerLink]="['/materials']">
    <i class="nav-icon ms-Icon ms-Icon--MapLayers" aria-hidden="true"></i>
    <span class="nav-link-name">Materials</span>
  </a>

</nav>
