<div class="form-wrapper col col-2 col-offset-1">
  <div class="form-header">
    <h2>Edit Material</h2>
    <button class="btn-secondary" (click)="deleteMaterial()">Delete</button>
  </div>
  <trq-material-edit-view [material]="material" (saveMaterial)="saveMaterial($event)"></trq-material-edit-view>
</div>