$theme-light: #01BDFF;
$theme-primary: #008BBF;
$theme-secondary: #0F509D;
$theme-dark: #062A55;

$yellow: #EA9A29;

$green: #6BC10C;

$red: #D0021B;

$neutral-dark: #1D1D1B;
$neutral-primary: #8E8E8D;
$neutral-secondary: #D1D1D1;
$neutral-light: #E8E8E8;
$neutral-very-light: #FAFAFA;