@import '../../../styles/abstracts/mixins';
@import '../../../styles/abstracts/variables-colors';

.scan-item {
  background-color: white;
  padding: 24px 20px;
  overflow: hidden;

  margin-bottom: 16px;

  display: grid;
  grid-gap: 24px;
  grid-template-columns: 220px auto 90px 90px 90px;
}

.scan-time,
.scan-label,
.scan-description {
  color: $neutral-primary;
}

.scan-time,
.scan-part-number,
.scan-material .scan-value {
  @include text-overflow-ellipsis;
}

.scan-part-number {
  font-size: 28pt;
  font-weight: 300;
}

.scan-value,
.scan-label {
  min-height: 22px;
  display: inline-block;
}

.scan-description {
  min-height: 40px;
}

.scan-value {
  font-size: 20px;
}

.scan-description,
.scan-property {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 820px) {
  .scan-description {
    display: none;
  }
}
