<div class="col-2 col-offset-1">
  <ng-container *ngIf="isConnected">
    <i class="ms-Icon ms-Icon--Wifi" aria-hidden="true"></i>
    <h1>Scanner not found</h1>
    <p>Please connect to same wireless network as the scanner or configure new scanner.</p>
  </ng-container>
  
  <ng-container *ngIf="!isConnected">
    <i class="ms-Icon ms-Icon--WifiWarning4" aria-hidden="true"></i>  
    <h1>Not Connected</h1>
    <p>Enable Wi-Fi Connection and connect to wireless network from your PC while the scanner is connected.</p>
  </ng-container>

  <p><a href="ms-settings:network-wifi" class="btn-primary btn-big">Open Wifi Settings</a></p>
  <p><a [routerLink]="['/configure-device']" class="btn-link">Configure New Device</a></p>
</div>
