@import '../../../styles/abstracts/mixins';
@import '../../../styles/abstracts/variables-colors';

.list-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
}

.material-tile {
  background-color: white;
  padding: 24px 20px;
  overflow: hidden;
  border-radius: 2px;

  &.is-selected,
  &.is-selected h2 {
    color: #fff;
  }

  &.is-selected {
    background: $theme-primary;
  }
}

.material-name {
  @include text-overflow-ellipsis;
  margin-bottom: 4px;
  width: 100%;
}
.property-value {
  font-weight: 400;
  &::after {
    content: " ";
  }
}
.property-label {
  font-weight: 300;
}
