@import '../../../../styles/abstracts/mixins';
@import '../../../../styles/abstracts/variables-colors';
@import '../../../../styles/abstracts/variables-layout';

.scan-item {
  background-color: $theme-dark;
  padding: 24px $body-padding-right 16px $body-padding-left;
  margin-left: -$body-padding-left;
  margin-right: -$body-padding-right;
  color: white;
  margin-bottom: 32px;
}

.scan-part-number, .scan-description {
  color: white;
}
.scan-label {
  color: rgba(white, 0.5);
}
.scan-value {
  font-weight: 300;
}
.scan-description + .scan-additional-info, .scan-buttons {
  margin-top: 20px;
}
.btn-primary {
  margin-right: 12px;
}

.scan-item + h2 {
  margin-bottom: 32px;
}

trq-scans-list-view /deep/ .list-wrapper {
  max-height: initial;
}
