<div class="list-wrapper"
  trqInfiniteScroll
  (loadMoreItems) = "infiniteScrollCallback($event)"
  [offset] = "offset"
  [limit] = "limit"
  [hasNextPage]="hasNextPage"  
  >

  <div class="scan-item" *ngFor="let scan of scansList" (click)="scanSelected.emit(scan)">
    <header>
      <time class="scan-time">{{ scan.updatedAt | date:'dd/MM/yyyy HH:mm' }}</time>
      <h2 class="scan-part-number">{{ scan.partNumber }}</h2>
    </header>

    <p class="scan-description">{{ scan.description }}</p>

    <div class="scan-property scan-material">
        <span class="scan-label">Material</span>
        <span class="scan-value">{{ scan.material && scan.material.name }}</span>
    </div>

    <div class="scan-property">
      <span class="scan-label">Det. Depth</span>
      <span class="scan-value">{{ scan.detectionDepth | unit:'detectionDepth' }}</span>
    </div>

    <div class="scan-property">
      <span class="scan-label">Frequency</span>
      <span class="scan-value">{{ scan.frequency | unit:'frequency' }}</span>
    </div>
  </div>
</div>
