<div class="list-header-wrapper">
  <h2 class="list-header">Materials</h2>
  <trq-input-search [(query)]="query"></trq-input-search>
  <a [routerLink]="['/new-material']" class="btn-secondary">Add Material</a>
</div>

<trq-materials-list-view (selectedMaterialIdChange)="selectedMaterialIdChange($event)" [query]="query"></trq-materials-list-view>
