@import '../../../styles/abstracts/mixins';
@import '../../../styles/abstracts/variables-colors';
@import '../../../styles/abstracts/variables-layout';

.alert {
  position: relative;
  margin-top: 8px;
  padding: 12px;
  color: white;
  overflow: hidden;
  max-height: 200px;
  transition: max-height 0.3s, padding 0.3s, transform 0.4s;
  &.error {
    background-color: $red;
  }
  &.warning {
    background-color: $yellow;
  }
  &.success {
    background-color: $theme-dark;
  }
}
.alert.closed {
  transform: translateY(calc(-100% - 8px));
  padding-top: 0;
  padding-bottom: 0;
  max-height: 0px;
}
span {
  display: inline-block;
  max-width: 495px;
}
button {
  @include square-icon(10px, 4px);
  position: absolute;
  top: 8px;
  right: 8px;
}