@import "../../../styles/abstracts/variables-colors";
@import "../../../styles/abstracts/mixins";

.scanning-process {
  height: 100vh;
  min-width: 800px;
  min-height: 480px;
  margin: 0 -32px;
  display: flex;
  flex-wrap: wrap;
}

.scanning-process-sidebar {
  grid-area: sidebar;
  background: white;
  width: 168px;
  border-right: 1px $neutral-light solid;
  padding: 15px;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 10px 10px 0 10px;
  }

  button {
    flex-shrink: 0;
  }
}

.scanning-process-list {
  flex-grow: 1;
  overflow: auto;
  margin: 10px;
}

.scanning-process-list-item {
  @include text-overflow-ellipsis;
  line-height: 2em;
}

.scanning-process-list-item-important {
  font-weight: 600;
}

.scanning-process-main {
  grid-area: main;
  width: calc(100% - 168px);
}

.scanning-process-scan {
  grid-area: scan;
  background: $theme-dark;
}

.scanning-process-material {
  grid-area: material;
  background-color: mix($neutral-dark, $theme-dark, 23%);

  h2 {
    margin-bottom: 20px;
  }
}

.scanning-process-scan h2 {
  flex-grow: 1;
}

.scanning-process-scan,
.scanning-process-material {
  color: white;
  height: 200px;
  width: 50%;
  padding: 15px 32px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  header {
    display: flex;
    button {
      margin-left: 20px;
    }
  }

  h2 {
    @include text-overflow-ellipsis;
    color: white;
    font-weight: 100;
  }
}

.scanning-process-main,
.scanning-process-sidebar {
  height: calc(100% - 200px);
}

.scanning-process-idle,
.scanning-process-in-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 30px;

  h2 {
    height: 40px;
    font-weight: 100;
    color: $theme-dark;
  }
}

// TODO: Change or remove when real chart is implemented:
.scanning-process-chart {
  padding: 10px;
  background: white;
  width: 100%;
  overflow: auto;
  font-size: 8px;
  font-family: monospace;
  line-height: 10px;
  flex-grow: 1;
}

@keyframes arrowsBlinking {
  0%, 100% {
    opacity: 1;
    top: -16px;
    left: -80px;
  }

  50% {
    opacity: 0.4;
    top: -12px;
    left: -70px;
  }
}

.scanning-process-scanner {
  flex-grow: 1;
  display: flex;
  align-items: center;

  &::before,
  &::after {
    display: block;
    content: ' ';
  }
  &::before {
    @include scanner-icon('big');
    width: 277px;
    height: 245px;
  }
  &::after {
    @include square(26px);
    @include background-icon('scanner/arrows.svg');
    position: relative;
    animation: arrowsBlinking 1s infinite;
  }
}

.scanning-process-data {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(105px,1fr) minmax(100px,2fr));

  dd {
    @include text-overflow-ellipsis;
    font-weight: 600;
    margin-right: 10px;
  }
}

.scanning-process-date {
  font-size: 20px;
  color: mix(white, $theme-dark, 50%);
  margin-bottom: 15px;
}
