<section class="scanning-process">
  <aside class="scanning-process-sidebar">
    <a class="btn-secondary" [routerLink]="['/']">
        <i class="ms-Icon ms-Icon--ChromeClose" aria-hidden="true"></i>
        Cancel
    </a>
    <h2>Scans</h2>
    <ul class="scanning-process-list">
      <li class="scanning-process-list-item" *ngFor="let scan of scans?.reverse(); let i = index"  [ngClass]="{'scanning-process-list-item-important': i === 0}">{{ scan.partNumber }}</li>
    </ul>
    <button class="btn-primary">Finish</button>
  </aside>
  <div class="scanning-process-main">
    <div class="scanning-process-idle" *ngIf="!measureInProgress">
      <div class="scanning-process-scanner"></div>
      <h2>Press trigger to start scanning</h2>
    </div>
    <div class="scanning-process-in-progress" *ngIf="measureInProgress">
      <div class="scanning-process-chart">
        <ul>
          <li *ngFor="let measurement of measurements">
            {{measurement.timestamp | date:'dd/MM/yyyy HH:mm'}}: {{measurement.value}}
          </li>
        </ul>
      </div>
      <h2>Release trigger to stop</h2>
    </div>
  </div>
  <div class="scanning-process-scan">
    <header>
      <h2>{{ getLatestScan().partNumber }}</h2>
      <button class="btn-secondary">Edit</button>
    </header>
    <time  class="scanning-process-date">{{ getLatestScan().updatedAt | date:'dd/MM/yyyy HH:mm' }}</time>
    <dl class="scanning-process-data">
      <dt>Description:</dt><dd>{{ scanTemplate.description || '-' }}</dd>
      <dt>Manufacturer:</dt><dd>{{ scanTemplate.manufacturer || '-'  }}</dd>
      <dt>Additional info:</dt><dd>{{ scanTemplate.additionalInfo || '-' }}</dd>
    </dl>
  </div>
  <div class="scanning-process-material">
    <h2>{{ material.name }}</h2>
    <dl class="scanning-process-data">
      <dt>Permeability:</dt><dd>{{ material.permeability }} µ</dd>
      <dt>Det. Depth:</dt><dd>{{ scanTemplate.detectionDepth }} µm</dd>
      <dt>Resistance:</dt><dd>{{ material.resistance }} Ω / cm</dd>
      <dt>Frequency:</dt><dd>{{ scanTemplate.frequency }} Hz</dd>
    </dl>
  </div>
</section>
