<!-- TODO: this component is not currently routed to from anywhere. remove it when it's no longer useful for development. -->

<h2>Here goes home component!</h2>
<p>It totally works!!!</p>

<p>Here are our components:</p>

<p><button class="btn-big">Big button</button></p>
<p><button class="btn-primary">Primary button</button></p>
<p><button class="btn-secondary">Secondary button</button></p>
<p><button class="btn-danger">Danger button</button></p>
<p><button class="btn-primary" disabled>Primary button disabled</button></p>

<input type="text" class="input-primary" value="Input">
<input type="text" class="input-primary" placeholder="Placeholder">
<input type="text" class="input-primary" value="Disabled" disabled>

<input type="text" class="input-secondary" value="Secondary input">
<input type="text" class="input-secondary" placeholder="Secondary placeholder">

<div class="input-wrapper input-search-wrapper">
  <input type="text" class="input-primary">
  <i class="ms-Icon ms-Icon--Search" aria-hidden="true"></i>
  <i class="ms-Icon ms-Icon--ChromeClose" aria-hidden="true"></i>
</div>

<div class="input-wrapper">
  <label for="">Label</label>
  <input type="text" class="input-primary" placeholder="Placeholder">
</div>

<div class="input-wrapper" disabled>
  <label for="">Label</label>
  <input type="text" class="input-primary" value="Disabled input" disabled>
</div>


<p>Here are our icons:</p>

<p><i class="ms-Icon ms-Icon--MapLayers" aria-hidden="true"></i></p>
<p><i class="ms-Icon ms-Icon--PC1" aria-hidden="true"></i></p>
<p><i class="ms-Icon ms-Icon--WifiHotspot" aria-hidden="true"></i></p>
<p><i class="ms-Icon ms-Icon--Edit" aria-hidden="true"></i></p>
<p><i class="ms-Icon ms-Icon--Refresh" aria-hidden="true"></i></p>
<p><i class="ms-Icon ms-Icon--Delete" aria-hidden="true"></i></p>
<p><i class="ms-Icon ms-Icon--Battery0" aria-hidden="true"></i></p>
<p><i class="ms-Icon ms-Icon--Battery1" aria-hidden="true"></i></p>
<p><i class="ms-Icon ms-Icon--Battery2" aria-hidden="true"></i></p>
<p><i class="ms-Icon ms-Icon--Battery3" aria-hidden="true"></i></p>
<p><i class="ms-Icon ms-Icon--Battery4" aria-hidden="true"></i></p>
<p><i class="ms-Icon ms-Icon--Battery5" aria-hidden="true"></i></p>
<p><i class="ms-Icon ms-Icon--Battery6" aria-hidden="true"></i></p>
<p><i class="ms-Icon ms-Icon--Battery7" aria-hidden="true"></i></p>
<p><i class="ms-Icon ms-Icon--Battery8" aria-hidden="true"></i></p>
<p><i class="ms-Icon ms-Icon--Battery9" aria-hidden="true"></i></p>
<p><i class="ms-Icon ms-Icon--ChromeClose" aria-hidden="true"></i></p>
<p><i class="ms-Icon ms-Icon--WifiWarning4" aria-hidden="true"></i></p>

