html {
  overflow: hidden;
}

body {
  // Making sure, that the body element will have a scrollbar
  // which height will not include that custom titlebar
  overflow: auto;
}

html, body {
  width: 100%;
  background-color: $neutral-very-light;
}

body {
  margin-top: $titlebar-height;
  padding-left: $body-padding-left;
  padding-right: $body-padding-right;
}
