@import 'abstracts/variables-colors';

.titlebar {
  position: fixed;
  // fix: top is -1px because electron adds extra 1px
  // of empty space on top of the view in frameless mode.
  top: -1px;
  height: 33px;
  left: 0;
  right: 0;
  z-index: 10000;
  -webkit-user-select: none;
  -webkit-app-region: drag;

  .titlebar-backbutton {
    display: none;
    height: 32px;
    width: 48px;
    padding: 0;
    background-color: $theme-dark;
    color: white;
    font-size: 10px;
    line-height: 32px;

    &--visible {
      display: inline-block;
    }
  }

  .titlebar-title {
    padding: 6px 14px;
    display: inline-block;
  }

  .titlebar-resize:hover,
  .titlebar-minimize:hover {
    background-color: $neutral-light;
  }

  .titlebar-close:hover {
    background-color: $red;
  }
}
